body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.pink {
    background-color: pink;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.pink1 {
    background-color: pink;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.green {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    background-color: green;


}

.green .blocks {
    grid-column: span 4;
}